@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

.drag-region {
  -webkit-app-region: drag;
}

button, a {
  -webkit-app-region: no-drag;
}

html, body {
  @apply select-none;
  -webkit-user-drag: none;
}

a {
  -webkit-user-drag: none;
}

img {
  -webkit-user-drag: none;
}
